<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gestión de usuarios</title>
	<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.6/dist/minty/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body class="d-flex flex-column">
	<!-- Incluye el navbar-fragment -->
	<header th:replace="~{fragments/navbarAdmin :: navbar}"></header>
	<main class="flex-fill">
		<div class="container py-5 mt-5">
			<h2 class="text-center">Gestión de usuarios</h2>
			<div th:replace="~{fragments/messages :: messages}"></div>
			<div class="mb-3" th:if="${not #lists.isEmpty(users)}">
				<form th:action="@{/admin/users/manageuser}" method="get" class="row g-3 mb-3">
					<div class="col-auto">
						<input type="text" name="name" class="form-control" placeholder="Buscar por apellidos y nombre"
							th:value="${name}">
					</div>
					<div class="col-auto">
						<select name="role" class="form-control">
							<option value="">Todos los roles</option>
							<option th:each="r : ${roles}" th:value="${r.name}" th:text="${r.name}"
								th:selected="${role} == ${r.name}">
							</option>
						</select>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary">Buscar</button>
					</div>
					<div class="col-auto">
						<a th:href="@{/admin/users/manageuser?all=true}" class="btn btn-secondary">Mostrar todos</a>
					</div>
				</form>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered text-center">
					<thead>
						<tr>
							<th>Apellidos y Nombre</th>
							<th class="d-none d-sm-table-cell">Email</th>
							<th>Teléfono</th>
							<th class="d-none d-sm-table-cell">Fecha registro</th>
							<th class="d-none d-sm-table-cell">Foto perfil</th>
							<th class="d-none d-sm-table-cell">Rol</th>
							<th>
								<span class="d-inline d-sm-none">Hab.</span> <!-- Solo visible en xs -->
								<span class="d-none d-sm-inline">Habilitado</span> <!-- Visible en sm+ -->
							</th>
							<th class="w-25">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.firstLastName + ' ' + user.secondLastName + ', ' + user.name}"></td>
							<td class="d-none d-sm-table-cell" th:text="${user.email}"></td>
							<td th:text="${user.phoneNumber}"></td>
							<td th:text="${#temporals.format(user.registrationDate, 'dd/MM/yyyy') ?: 'N/A'}"
								class="d-none d-sm-table-cell"></td>
							<td class="d-none d-sm-table-cell"><img
									th:src="@{${user.profilePicture} ?: '/images/profile-pictures/no-image.png'}"
									width="50" height="50" class="img-thumbnail rounded-5" alt="">
							</td>
							<td class="d-none d-sm-table-cell" th:text="${user.rol.name}"></td>
							<td th:text="${user.enabled ? 'Sí' : 'No'}"></td>
							<td>
								<div class="d-flex flex-column flex-sm-row gap-2">
								<a th:href="@{/admin/users/edit/{id}(id=${user.id})}"
									class="btn btn-sm btn-warning btn-sm w-100">Editar</a>
								<a th:href="@{/admin/users/confirm-delete/{id}(id=${user.id})}"
									class="btn btn-sm btn-danger btn-sm w-100">Borrar</a>
							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex flex-column flex-sm-row gap-2 mt-3">
				<a th:href="@{/admin/users/new}" class="btn btn-success">Nuevo
					usuario</a> <a th:href="@{/admin/dashboard}" class="btn btn-secondary">Volver</a>
			</div>
		</div>
	</main>
	<!-- Incluye el footer-fragment -->
	<footer th:replace="~{fragments/footer :: footer}"></footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
		crossorigin="anonymous"></script>
</body>

</html>