
/* footer */
.footer-zen {
  position: relative;
  background-color: #78C2AD;
  /* Color minty */
  overflow: hidden;
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
  color: white;
}


.footer-zen .container {
  position: relative;
  z-index: 1;
  /* Para que el contenido quede encima de la ola */
  padding-top: 3rem;
}

.footer-link,
.footer-social {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-link:hover,
.footer-social:hover {
  color: #d0f0e9;
  text-decoration: underline;
}

.footer-brand {
  color: white;
}

.footer-quote {
  color: #d0f0e9;
}
@media (min-width: 1200px) {
  .footer-zen .container {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
