
    <!-- src/main/resources/templates/fragments/messages.html -->
    <div class="mt-2" th:fragment="messages">
        <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${success}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        <div th:if="${warning}" class="alert alert-warning alert-dismissible fade show" role="alert">
            <span th:text="${warning}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        <div th:if="${info}" class="alert alert-info alert-dismissible fade show" role="alert">
            <span th:text="${info}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    </div>
