<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Confirmacion de eliminacion de registros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.6/dist/minty/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main class="flex-fill">
        <div class="container py-5 mt-5 min-vh-100">

            <div th:replace="~{fragments/confirmDelete :: confirmDelete(
                '¿Seguro que quieres cancelar tu reserva de ' + ${reservation.classes.title} + ' el ' + ${#temporals.format(reservation.classes.eventDate, 'dd/MM/yyyy')} + '?' ,
                @{/classes/cancelReservation/{id}(id=${reservation.id})},
                @{/classes}
                )}"></div>
            </div>
            </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>