<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia del yoga</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.6/dist/minty/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/guide.css}">
</head>
<body>
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <main class="flex-fill">
        <div class="container py-5 mt-5">
            <h1 class="mb-4 text-center fw-bold" style="color:#388e3c;">Guía de Yoga</h1>
            <div th:each="section : ${sections}" class="guide-section text-center">
                <h2 class="guide-section-title" th:text="${section.title}">Section Title</h2>
                <img th:if="${section.imageUrl != null}" th:src="@{${section.imageUrl}}" alt="" />
                <div class="text-start" th:utext="${section.content}">Section content</div>
                <div th:if="${section.title} == 'Orígenes del Yoga'">
                    <div class="video-responsive">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/mQpBjNtkL3Y?si=o5HaCQEi3rL1ZsqL"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Incluye el footer-fragment -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>
</html>