<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cambiar contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.6/dist/minty/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<body class="bg-light">
    <!-- Incluye el navbar-fragment -->
    <header th:replace="~{fragments/navbar :: navbar}"></header>
    <div class="container py-4 mt-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
            <form th:action="@{/reset-password}" method="post">
                <input type="hidden" name="token" th:value="${token}">
                <div>
                    <label for="newPassword">Nueva contraseña</label>
                    <input type="password" name="newPassword" required>
                </div>
                <div>
                    <label for="confirmPassword">Confirmar nueva contraseña</label>
                    <input type="password" name="confirmPassword" required>
                </div>
                <button type="submit">Restablecer contraseña</button>
            </form>
            <div th:if="${error}" th:text="${error}"></div>
            <div th:if="${success}" th:text="${success}"></div>
        </div>
    </div>
    <!-- Incluye el footer-fragment -->
    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>